.App {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  font-family: 'Press Start 2P';
}
.content {
  flex-direction: column;
}
form {
  width: 330px;
  margin: 5px 10px;
}
input {
  cursor: pointer;
  border: 3px solid black;
  margin: 5px 0;
}
th,
td {
  align-items: center;
  padding: 0 10px 0 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
